// 基础颜色
$white: #fff;

// 文字颜色
$main-text-color: #454e70;
$grep-text-color: rgba(58, 73, 134, 0.6);

// 字体大小

$fontSize_12: 0.12rem;
$fontSize_14: 0.14rem;
$fontSize_16: 0.16rem;
$fontSize_18: 0.18rem;